@import ../Utils/variables

footer
  background-color: lighten($gris, 1%)
  padding-left: 2rem
  padding-bottom: 1rem
  .logo-text
    padding: 0.7rem 0
    font-size: 0.8em
    color: white
    font-family: Shrikhand
    font-weight: lighter
  ul
    a
      color: #FFF
    li
      list-style: none
      color: white
      font-family: Roboto
      font-size: 0.6em
      padding-bottom: 0.5rem
    .imp-footer
      font-weight: bold
    i
      width: 20px
