header
  display: flex
  z-index: 2
  flex-direction: column
  div
    display: flex
    justify-content: center

.logo-conteneur
  z-index: 2
  text-align: center
  box-shadow: 0px -10px 10px 5px $gris
  h1
    font-family: Shrikhand

.location-conteneur
  z-index: 1
  padding: 0.5rem 0
  text-align: center
  background-color: lighten($gris, 70%)
  p
    font-size: 1.1em
    padding: 0.4rem 0
    font-weight: bolder
    color: $gris
    i
      margin-right: 10px
    .input-header
      border: none
      background: transparent
      width: 100px
      &:focus
        outline: none

@media (min-width: 1023px) and (max-width: 1920px)
  header
    box-shadow: 0px -10px 10px 5px $gris
    .logo-conteneur
      h1
        font-size: 3em
    .location-conteneur
      height: initial