header
  display: flex
  flex-direction: column

.logo-conteneur
  z-index: 2
  text-align: center
  -webkit-box-shadow: 0px -10px 10px 5px $gris
  -moz-box-shadow: 0px -10px 10px 5px $gris
  box-shadow: 0px -10px 10px 5px $gris
  h1
    font-family: Shrikhand

.location-conteneur
  z-index: 1
  padding: 0.5rem 0
  text-align: center
  background-color: lighten($gris, 70%)
  p
    font-size: 0.6em
    padding: 0.4rem 0
    font-weight: bolder
    color: $gris
    i
      margin-right: 10px
